@charset "utf-8"
@import "bulma/bulma.sass"

+desktop
  .scaling-button
    +button-large
  .scaling-control
    +control-large
  .scaling-icon
    height: $icon-dimensions-large
    width: $icon-dimensions-large

+tablet
  .scaling-button
    +button-large
  .scaling-control
    +control-large
  .scaling-icon
    height: $icon-dimensions-large
    width: $icon-dimensions-large